.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

body .bg-dark {
  background-color: #239526!important;
}

#title {
  text-align: left;
  font-family: arial, sans-serif;
}

#requests {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#requests td, #requests th {
  border: 1px solid #ddd;
  padding: 8px;
}

#requests tr:nth-child(even){background-color: #f2f2f2;}
#requests tr:hover {background-color: #ddd;}

#requests th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.updateRequestForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 8vh;
}

.ml-auto {
  margin-right: 2vw;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://besthqwallpapers.com/Uploads/4-12-2018/73334/thumb2-bmw-m3-blue-sedan-turquoise-m3-exterior-tuning-m3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 10vh!important;
  color: white;
  height: 50vh;
}

.inside-jumbotron {
  background-color: rgba(192, 192, 192, 0.568);
  padding: 30px;
  width: 60%;
  border-radius: 10px;
}

.container {
width: 50vw;
}

.card-container {
  padding: 10vh;
}

.card-container h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10vh;
}


.card-step {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25vh;
  height: 27vh;
  width: 27vh;
  background-color:#4CAF50;
  border-radius: 50%;
}


.holder {
text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none!important;
}